.llamada-form {
  padding: 1rem;
  label { display: block; font-weight: 600; margin-bottom: 0.25rem; font-size: 0.85rem; }
  .p-inputgroup { width: 100%; }
  input, .p-dropdown, textarea { width: 100%; }
}
